/*Infogar font från google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

/*Grund för hela sidan*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Body*/
body{
    margin: 0;
    padding: 0;
    background-color: var(--base-variant);
    display: flex;
    flex-direction:column;
    min-height: 100vh;
    font-family: "Lora", sans-serif;
}

/*Rubrik och Navigeringsmeny*/
header{
    background-color: var(--base-variant);
    color: var(--text-color);
    padding: 25px 0;
    text-align: right;
}

h1{
    text-align: left;
    margin: 0 10px;
}

nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: right;
    gap: 50px;
}

nav ul li{
    margin: 0 25px 0 50px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a{
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
}

li:hover{
    text-decoration: underline;
}

/*Huvudinnehåll profil*/

.container-profile{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 70px;
}

.column-profile{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background: var(--base-color);
    color: var(--text-color);
}

.column-profile, .profile-text{
    display: flex;
    flex-wrap: wrap;
} 

.profile-img{
    display: flex;
    max-width: 450px;
    height: auto;
}

.profile-text {
    display: flex;
    flex: 1;
    max-width: 700px;
    min-width: 300px;
    text-align: center;
    margin: 20px;
    padding: 20px;
}

/*Knappen*/

#cv-button{
    display: flex;
    flex-direction: column;
    margin: 10px 150px;
    width: 50%;
    height: 40px;
    background: var(--accent-color);
    border: none;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(42, 37, 37);
    font-size: 17px;
}

.cv-button{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
}

button:hover{
    transform: scale(1.1);
}

.cv-link{
    color: var(--text-color);
    text-decoration: none;
}

/*Projekt korten*/

h2{
    margin: 20px;
    color: var(--text-color);
}

.container-gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: var(--base-color);
}

.column-gallery{
    flex: 1;
    min-width: 262px;
    max-width: 262px;
    text-align: center;
    background: var(--base-variant);
    padding: 1px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    color: var(--text-color);
} 

.gallery-img{
    display: flex;
    max-width: 150px;
    min-width: 260px;
    height: auto;
    margin: 0px;
    border-radius: 10px;
}

/*Footer*/

footer{
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px;
    width: 100%;
    margin-top: auto; 
}

.footer{
    display: flex;
    flex-wrap: wrap;
    justify-items: right;
    list-style: none;
    align-items: center;
}

/*Ikoner*/

.social-login-icon, .fa-solid{
    padding: 20px 10px;
    color: #fff;
    text-decoration: none;
}

.social-login-icon:hover{
    transform: scale(1.5);
}

.fa-solid:hover{
    transform: scale(1.5);
}

/*Sub pages*/
.about, .contact-card{
    margin: 100px;
    padding: 100px;
    background-color: var(--base-color);
    color: var(--text-color)
}

/*.cv-img{  Borttagen och konverterad till JSON-fil
    display:flex;
    margin: 40px 40px 40px 250px;
    max-width: 700px;
    max-height: auto;
}*/
    
/*Anpassar till skärmstorlek*/
@media (max-width: 768px){ 
    .container-profile{
        
        width: 100%;
    }
}

@media screen and (max-width:400px){
    .container-gallery{
    
        width: 50%;
    }
}

/*JavaScript effects - darkmode*/
/*inspiration till denna effekt hittade jag på w3schools, sedan sökte
jag mig vidare med youtube för att få se exempel på hur denna effekt skapas.
Färgerna för darkmode har jag tagit från min källa, däremot har jag jobbat 
med placering av knapp och utseende av knapp själv. Även val av ikon för switchen.*/
:root{
    --base-color: white;
    --base-variant: #e8e9ed;
    --text-color: #111528;
    --secondary-text: #232738;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
}

.darkmode{
    --base-color: #070b1d;
    --base-variant: #101425;
    --text-color: #fff;
    --secondary-text: #a4a5b8;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
}

#theme-switch{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top: 25px;
    left: 250px;
}

#theme-switch i{
    fill: var(--primary-color);
}

#theme-switch i:last-child{
    display: none;
}

.darkmode #theme-switch i:first-child{
    display: none;
}

.darkmode #theme-switch i:last-child{
    display: block;
}

/*JSON file - mitt CV*/
/*inspiration till detta hittade jag på youtube, både hur jag borde bygga
min fil, men också hur jag kopplar ihop den till min HTML*/
#cv-container{
    background-color: var(--base-color);
    color: var(--text-color);
    margin: 30px;
    border-style: double;
    border-width: 5px;
    border-radius: 10px;
    padding: 15px;
}

#cv-container li{
    list-style: none;
    text-decoration: none;
}